/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=New+Rocker);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

#main,
main {
    margin: 0 auto;
    position: relative;

}

main {
    height: 100%;
    z-index: 1;
}

div#checkbox {
    background-color: #5251507c;
}

/* -----------------posicion de las imagenes de fondo ---------------*/
img.rollo,
img.extintor {
    position: absolute;
    width: 30%;
    top: 90%;
    left: -3%;
    z-index: -3;
    max-width: none;
}

img.balon {
    position: absolute;
    width: 30%;
    top: 90%;
    left: -3%;
    z-index: -3;
    max-width: none;
}

img.comida {
    position: absolute;
    width: 30%;
    top: 90%;

    z-index: -3;
    max-width: none;
}

img.camara {
    position: absolute;
    top: 70%;
    width: 50%;
    margin-left: -120px;
    z-index: -3;
}

img.humo1 {
    position: absolute;

    top: -90%;
    width: 100%;
    z-index: -3;
}

img.microfono {
    position: absolute;
    width: 40%;
    top: -7%;
    left: 75%;
    z-index: -2;

}

img.fire2 {
    position: absolute;
    width: 100%;
    z-index: -1;


}

img.fire1 {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 0;
    z-index: 1;
    max-width: none;
}

img.guitar2 {
    position: absolute;
    left: 50%;
    margin-left: -900px;
    top: 10%;
    z-index: -2;
    max-width: none;
    opacity: 0.75;
}


div#main {
    position: relative;
    z-index: 0;
}

main {
    position: initial;
    z-index: 10;

}

.top1_inner {
    position: relative;
}

.top2_wrapper {
    position: relative;
    z-index: 30;
    margin-bottom: -30px;
}



h1.titulo {

    filter: brightness(1.75);
    font-family: 'Cabin Sketch';
}

main {
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
    z-index: 10;
}

/* navegador */
h2#actualpage {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    background-color: #615f5f8f;
    width: 1000%;
}

div#nav.container {
    align-content: center;
    margin: 0;
}

.div.container.offset-md-2.p-3 {
    margin: 0;

}

/* --------------------- body ------------- */
body {
    background: url(../img/bg1.jpg) center top no-repeat #040305;
    border: 0;
    font: 13px Arial, Helvetica, sans-serif;
    color: #9c9997;
    line-height: 18px;
    min-width: 320px;
    position: relative;
    z-index: 10;

}

/* imagen del logo */
a.logo img {
    filter: brightness(0.80);
    width: 50%;

}

a.logo img:hover {
    filter: none !important;
}

#inner {
    position: relative;
    z-index: 10;
}

header {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

/*--------------social icons--------------------------------*/
.social_icom li {
    display: inline-block;
    margin: 0 4px;

}

.social_icom li a {
    opacity: 0.7;
    filter: alpha(opacity=70);
    display: block;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


ul.social_icom a img {
    box-shadow: 4px 4px 4px 0 #000;
    -moz-box-shadow: 4px 4px 4px 0 #000;
    -webkit-box-shadow: 4px 4px 4px 0 #000;
    width: 3rem;
    height: 4rem;
}

.social_icom {
    display: inline-block;
    margin: 0 0px;
    padding-top: 0px;
    list-style: none;
    white-space: nowrap;
}

ul.social_icon {
    padding-left: 0px;
}

.social_icom li a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.top2_wrapper {
    position: relative;
    z-index: 30;
    margin-bottom: -30px;
}

.top2 {
    padding-left: 10px;
    padding-right: 10px;
}

.top2_inner {
    position: relative;
}

.top3_wrapper {
    padding-bottom: 30px;
}

.top3 {
    padding-left: 10px;
    padding-right: 10px;
}

.top3_inner {
    position: relative;
}


/* ============================= main menu nav ====================== */

nav.navbar {
    background-image: url(../img/menu_bg.jpg);
    opacity: 0.75;
}

nav.navbar a {
    font-family: 'Cabin Sketch';
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    filter: brightness(2);


}

a.navbar-brand {
    font-size: 200% !important;
    color: #fff !important;
    display: flex;
    background-color: black;
    width: 50%;

    text-align: justify;
    text-shadow: 1px 1px 2px black;
}

nav.navbar a:hover {
    color: #ff0a0a;
}

nav.navbar a.nav-link {
    font-size: large;

}

div.container.col-lg-8.col-md-12 {
    font-size: 150%;
    filter: brightness(1.75);
    font-family: 'Cabin Sketch';

}

a.navbar-brand {
    background-color: #363433;
    font-size: 150%;
    filter: brightness(1.75);
    font-family: 'Cabin Sketch';

}

img#recorrer,
img#recorrer2 {
    background-color: #9b9998;
}

img#recorrer:hover,
img#recorrer2:hover {
    background-color: #fd0606;
}

#actualpage {
    background-color: rgb(90, 90, 90);
    display: flex;
    justify-content: center;
    width: 50%;
    font-family: 'Cabin Sketch';
    color: rgb(255, 255, 255);
}

/*---------------------search-------------------------------*/
div.container.col-lg-8.col-md-12 input:hover,
label {
    margin-top: 5%;
}

div.container.col-lg-8.col-md-12 input:hover,
label:hover {
    color: #fc0808;

}

.btn-outline-success {
    --bs-btn-color: #c8dfd4;
    --bs-btn-border-color: #969997;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f50a0a;
    --bs-btn-hover-border-color: #121111;
}
div#search {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
   
}

/*----------------------Pantalla tablet----------------------*/
@media (max-width: 991px) {
    div.container.d-flex.justify-content-end.p-3 {
        flex-direction: column;
    }

    div.container.offset-md-2.p3 {
        margin-left: 0;
    }

    div.container#nav {
        margin-left: 0;
    }

    .card img {
        width: 100%;
        height: auto !important;
        padding: 10px;
    }

    img.guitar2 {
        position: absolute;
        left: 10%;
        margin-left: -300px;
        top: 100px;
        z-index: -2;
        max-width: none;
    }

    img.humo1 {
        position: absolute;
        margin-left: -20%;
        top: -70%;
        width: 130%;
        z-index: -3;
    }

    div.container#imagen-footer img {
        margin-top: 10%;

    }
}

@media (max-width: 360px) {
    img.humo1 {

        height: 100%;
    }

    img.fire2 {
        height: 50%;
    }

    img.fire1 {
        width: 70%;
        left: 70%;
    }

    img.microfono {
        height: 30%;
    }

    img.extintor {
        margin-left: 68%;
        width: 20%;
        top: 55%;
        z-index: 1;
    }

    div.card {
        margin: 0;
    }

 

    div#checkbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;


    }

    div#checkbox {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: baseline;
    }
}

@media (max-width: 767px) {

    .card {
        width: 70%;
        margin: 100px;
    }

    img.microfono {
        width: 30%;
        margin-left: -20%;
        top: 15%;
    }

    img.humo1 {
        position: absolute;
        width: 110%;
        top: -10%;

        z-index: -3;
    }

    img.fire2 {
        width: 80%;
        top: 30%;
    }

    img.camara {
        margin-left: 68%;
        top: 45%;
        z-index: 1;
        width: 35%;
    }

    img.balon {
        margin-left: 68%;
        width: 20%;
        top: 55%;
        z-index: 1;
    }

    img.comida {
        margin-left: 68%;
        width: 20%;
        top: 53%;
        z-index: 1;
    }

    img.rollo {
        margin-left: 68%;
        width: 20%;
        top: 55%;
        z-index: 1;
    }



}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0 !important;
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    img.guitar2 {
        position: absolute;
        left: 10%;
        margin-left: -300px;
        top: 100px;
        z-index: -2;
        max-width: none;
    }

}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 200%;
    margin: 15px;
}



/* =============================cambia color del menu hamburguesa-----------------*/
span.navbar-toggler-icon {
    background-color: #9c9997;
    color: #fff !important;
}

span.navbar-toggler-icon:hover {
    background-color: #ff0e0e;
    color: #313030 !important;
}

/*==============================form stats.html=============================*/
#stats-table {
    border: 2px rgba(99, 102, 99, 0.637) solid;

    background-color: #fff;
    max-width: 90%;

    margin: 6em;
}

#stats-table th {
    background-color: #525150;
    color: #f1e8e8;
    font-size: 1.5em;
}

.table-subtitle {
    font-weight: bold;
    color: #9c9997;
}



/*=============================Footer=============================================*/
footer {
    position: relative;
    width: 100%;
    background: transparent;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {

    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

div.logo_footer a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

}

footer .menu li a {
    font-size: 200%;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    -webkit-text-stroke: 1px rgb(8, 8, 8);
}

footer .menu li a:hover {
    opacity: 1;
}

ul.menu {
    background-color: #444a5081;
}

footer p {
    background-color: #444a509c;
    color: #ddd7d7;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;

}

/*-----------------------form styles--------------------*/
label.form-label {
    font-size: 2em;
    color: #faf4f4 !important;
    font-family: 'Cabin Sketch';

}

button#button_form.btn.btn-light.mb-3 {
    margin: 15px;
    background-color: #9c9997;
    color: #0f0f0f;

}

button#button_form.btn.btn-light.mb-3:hover {
    background-color: #f80000;
}

/*----------------------Card styles--------------------*/
.card {
    position: relative;
    background: rgb(253, 29, 29);
    background: linear-gradient(14deg, rgba(253, 29, 29, 0.877) 51%, rgba(252, 176, 69, 0.747) 100%);
    text-emphasis-color: rgb(243, 239, 239);
    color: #fdfbfb;
    overflow: hidden;
    width: 300px;
    height: 300px;

}

/* --------------- rotar  las cards ------------------- */
.card div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 250px;
    backface-visibility: hidden;
    transition: 1s;
    align-items: center;
}

.card .front {
    transform: perspective(500px)rotateY(0deg);
}

.description {
    display: flex;
    
}
.card .back {
    margin-left: 5px;
    margin-top: 15px;
    font-size: 15px;
    transform: perspective(500px)rotateY(180deg);
}

.card:hover .front {
    transform: perspective(500px)rotateY(180deg);
}

.card:hover .back {
    transform: perspective(500px)rotateY(360deg);
}

/* ------------------ borde de las cards animadas -------------------*/
.card span {
    transition: 0.5s;
    opacity: 0;
}

.card span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #f8e801);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.card span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #f8e801);
    animation: animate2 1s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.card span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #f8e801);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.card span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #f8e801);
    animation: animate4 1s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.card:hover span {
    opacity: 1;
}

.card:hover,
p.card-text:hover {
    color: black;
    transform: scale(1.05);
    position: relative;

}



div#cards-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}

div#card-body.card {
    margin: 10px;
    justify-content: space-between;
    padding: 12px;
}

.card img {
    width: 100%;
    height: 150px;
    padding: 10px;
}

div.container#details {
    padding: 0;

}

.card#card-details {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.card button {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    background: rgb(92, 7, 7);
    background: linear-gradient(14deg, rgba(92, 7, 7, 1) 51%, rgba(252, 69, 69, 1) 100%);
    color: #fff;
}

.card button:hover {
    background: rgb(92, 7, 7);
    background: linear-gradient(256deg, rgba(92, 7, 7, 1) 51%, rgba(252, 69, 69, 1) 100%);
    transition: 10.5s;
}

div.container.offset-md-2.p-3 {
    margin-left: 10%;
}

/*--------------------details.html-------------------- */
h1#titulo {
    font-family: 'Cabin Sketch';
    background: rgba(253, 29, 29, 0.699);
    background: linear-gradient(14deg, rgba(253, 29, 29, 0.877) 51%, rgba(252, 176, 69, 0.747) 100%);
    text-emphasis-color: rgb(243, 239, 239);
    color: #fdfbfb;


}


/* ---------------------- form contact.html -------------------- */
.form-control {
    background-color: #a19e9e;
    color: #000;

}


/* -------------------- stats.html ------------------------*/


.table-bordered>:not(caption)>*>* {
    border-width: 0 var(--bs-border-width);
}

.table>:not(caption)>*>* {

    background: rgb(253, 29, 29);
    background: linear-gradient(14deg, rgba(194, 26, 26, 0.877) 51%, rgba(182, 126, 48, 0.747) 100%);
    text-emphasis-color: rgb(243, 239, 239);
    color: #fdfbfb;
}

.table-subtitle {

    color: #3a2676;
}

div.botones.d-flex.justify-content-center {
    margin-left: 50px;
    margin-right: 50px;
}